<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:paddingBottom="@dimen/activity_vertical_margin"
    android:paddingLeft="@dimen/activity_horizontal_margin"
    android:paddingRight="@dimen/activity_horizontal_margin"
    android:paddingTop="@dimen/activity_vertical_margin"
    tools:context="com.example.android.support.wearable.quiz.MainActivity"
    tools:ignore="MergeRootFrame">
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="wrap_content">
    <!--<Button
            android:id="@+id/setPills"
            android:onClick="SetPills"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:text="Add a Pill to DB" />-->
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/create_pill_container"
            android:orientation="vertical"
            android:paddingBottom="10dp" />
        <Button
            android:id="@+id/deleteTodaysTakenPills"
            android:onClick="DeleteTodaysTakenPills"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:text="Delete Today's Taken Pills" />
        <Button
            android:id="@+id/sendReminder"
            android:onClick="SendReminder"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:text="Send reminder" />
    <!--<Button
            android:id="@+id/sendAMReminder"
            android:onClick="SendAMReminder"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:text="Send A.M. reminder" />-->
        <Button
            android:id="@+id/sendBatteryWarning"
            android:onClick="SendBatteryWarning"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:text="Send battery warning" />
        <TextView
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:text="--BatteryLevel--"
            android:id="@+id/batteryTextView" />
        <TextView
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:text="Taken Pills:" />
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/pills_container"
            android:orientation="vertical"
            android:paddingBottom="10dp" />
    </LinearLayout>
</ScrollView>